@model List<OrdersModel>


@{
    ViewData["Title"] = "Orders History";
}

<style>




    .wbox {
        background-color: white;
        padding: 20px;
    }

    h3 {
        text-align: center;
        font-weight: bold;
    }

    .bold {
        font-weight: bold;
    }

    .img {
        text-align: center;
    }
</style>


<section class="main-container">


    <div class="wbox">

        <div class="orderid">
            <h3> Orders History</h3>

            <div class="img">
                <img src="img/images/cart.svg"
                     alt="cart"
                     width="120"
                     height="120" />
            </div>
            <br>
            <p>Here are your previous orders displayed. You can find a specific order by the ID number. To view a specifit order, click on the ID number.  </p>
            <br>

            <form action="/orders" method="get">
                <h4>
                    Search by ID
                </h4>
                <input name="id" type="search"> 
                <button type="submit"
                        class="btn btn-danger">
                    Search
                </button>

            </form>

            <br>

            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Nr</th>
                        <th scope="col">Order ID</th>
                        <th scope="col">Date</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Order Status </th>
                    </tr>
                </thead>

                <tbody>

                    @foreach (var order in Model)
                    {
                        <tr>

                            <td>@order.nr</td>
                            <th scope="row">
                                <h5><a href="orderdetails?orderId=@order.Id" class="badge badge-danger">   @order.Id  </a></h5>
                            </th>

                            <td>@order.Date.ToString("yyyy-MM-dd")</td>
                            <td> &euro; @order.Price </td>
                            <td>@order.Qty </td>
                            <td>@(order.Status ? "Payment Approved" : "Redeemed") </td>
                        </tr>

                    }



                </tbody>
            </table>

        </div>
    </div>


</section>
