
@model TravelPackage;

@{

}
<link rel="stylesheet" href="/css/holiday-detail.css" />

<section class="container main-container">
    <section class="row">
        <!-- <section class="col-sm main-container-left"> -->
        <section class="col-md-8 order-md-1">
            <figure>
                <img class="item-image"
                     style="width: 100%;"
                     src="@Model.Image"
                     alt="" />
                <figcaption>
                    5 days, 4 nights
                </figcaption>
            </figure>

            <section class="container body-content">
                <h2>
                    @Model.Name
                </h2>
                <h3>
                    @Model.Country - @Model.City
                </h3>
                <h4>
                    Creativiity is intelligence, have fun!
                </h4>
                <p>
                    @Model.Description
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                    enim ad minim veniam, quis nostrud exercitation ullamco laboris
                    nisi ut aliquip ex ea commodo consequat.
                </p>
                <p>
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                    accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
                    quae ab illo inventore veritatis et quasi architecto beatae vitae
                    dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
                    aspernatur aut odit aut fugit, sed quia consequuntur
                </p>
            </section>
        </section>

        <section class="col-md-4 order-md-2 mb-4">
            <button type="button" class="btn btn-primary">Add to cart</button>

            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">
                    <a href="./cart.html">
                        Your cart
                    </a>
                </span>
                <span class="badge badge-secondary badge-pill">3</span>
            </h4>
            <ul class="list-group mb-3">
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                        <h6 class="my-0">Product name</h6>
                        <small class="text-muted">Brief description</small>
                    </div>
                    <span class="text-muted">$12</span>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                        <h6 class="my-0">Second product</h6>
                        <small class="text-muted">Brief description</small>
                    </div>
                    <span class="text-muted">$8</span>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                        <h6 class="my-0">Third item</h6>
                        <small class="text-muted">Brief description</small>
                    </div>
                    <span class="text-muted">$5</span>
                </li>
                <li class="list-group-item d-flex justify-content-between bg-light">
                    <div class="text-success">
                        <h6 class="my-0">Promo code</h6>
                        <small>EXAMPLECODE</small>
                    </div>
                    <span class="text-success">-$5</span>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                    <span>Total (USD)</span>
                    <strong>$20</strong>
                </li>
            </ul>
        </section> 
    </section>
</section>
 
 