@model IEnumerable<Category>

<link rel="stylesheet" href="/css/category.css" />
<section class="main-container category-index">
    <table class="table">
        <caption>
            Category List - Total: @Model.Count()
        </caption>
        <thead>

            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th class="col-action-buttons">
                    <a role="button" asp-action="Create"
                       class="btn btn-primary">Create New</a>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        <span>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </span>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td class="table-footer" colspan="100">
                    Category List - Total: @Model.Count()
                </td>
            </tr>
        </tfoot>
    </table>

</section>
