@*
    
*@
@{
    ViewData["Title"] = "User account";
}

@model UserAccountModel


<link rel="stylesheet" href="./css/useraccount.css" />


<section class="main-container">
    <div class="account-box">
        <div class="customer-box">
            <section class="section-data">
                <h1> Account</h1>
                <select id="title" name="title">
                    <option value="title">Please select a Title</option>
                    <option value="title">Ms</option>
                    <option value="title">Miss</option>
                    <option value="title">Mrs</option>
                    <option value="title">Mr</option>
                </select>
                <input type="text" name="fullname" placeholder="Full Name" value="@(Model.GetFullName())" />
                <input type="text" name="email" placeholder="Email Address" value="@(Model.Email)"/>
                <input type="text" name="pasword" placeholder="Pasword" value="@(Model.Paswoord)" />
                <input type="text" name="pasword" placeholder="Retype pasword" value="@(Model.RetypePasword)" />

                <h1> Date of Birth</h1>
                <select class="dayofbirth" id="dayofbirth" name="dayofbirth" data-formid="dayofbirth" data-field-label="Day">
                    <option class="select-option" label="Day" value="">Day</option>
                    <option class="select-option" label="01" value="1">01</option>
                    <option class="select-option" label="02" value="2">02</option>
                    <option class="select-option" label="03" value="3">03</option>
                    <option class="select-option" label="04" value="4">04</option>
                    <option class="select-option" label="05" value="5">05</option>
                    <option class="select-option" label="06" value="6">06</option>
                    <option class="select-option" label="07" value="7">07</option>
                    <option class="select-option" label="08" value="8">08</option>
                    <option class="select-option" label="09" value="9">09</option>
                    <option class="select-option" label="10" value="10">10</option>
                    <option class="select-option" label="11" value="11">11</option>
                    <option class="select-option" label="12" value="12">12</option>
                    <option class="select-option" label="13" value="13">13</option>
                    <option class="select-option" label="14" value="14">14</option>
                    <option class="select-option" label="15" value="15">15</option>
                    <option class="select-option" label="16" value="16">16</option>
                    <option class="select-option" label="17" value="17">17</option>
                    <option class="select-option" label="18" value="18">18</option>
                    <option class="select-option" label="19" value="19">19</option>
                    <option class="select-option" label="20" value="20">20</option>
                    <option class="select-option" label="21" value="21">21</option>
                    <option class="select-option" label="22" value="22">22</option>
                    <option class="select-option" label="23" value="23">23</option>
                    <option class="select-option" label="24" value="24">24</option>
                    <option class="select-option" label="25" value="25">25</option>
                    <option class="select-option" label="26" value="26">26</option>
                    <option class="select-option" label="27" value="27">27</option>
                    <option class="select-option" label="28" value="28">28</option>
                    <option class="select-option" label="29" value="29">29</option>
                    <option class="select-option" label="30" value="30">30</option>
                    <option class="select-option" label="31" value="31">31</option>
                </select>
                <select class="monthofbirth" id="monthofbirth" name="monthofbirth" data-formid="monthofbirth" data-field-label="Month">
                    <option class="select-option" label="Month" value="">Month</option>
                    <option class="select-option" label="January" value="1">January</option>
                    <option class="select-option" label="February" value="2">February</option>
                    <option class="select-option" label="March" value="3">March</option>
                    <option class="select-option" label="April" value="4">April</option>
                    <option class="select-option" label="May" value="5">May</option>
                    <option class="select-option" label="June" value="6">June</option>
                    <option class="select-option" label="July" value="7">July</option>
                    <option class="select-option" label="August" value="8">August</option>
                    <option class="select-option" label="September" value="9">September</option>
                    <option class="select-option" label="October" value="10">October</option>
                    <option class="select-option" label="November" value="11">November</option>
                    <option class="select-option" label="December" value="12">December</option>
                </select>
                <select class="yearofbirth" id="yearofbirth" name="yearofbirth" data-formid="yearofbirth" data-field-label="Year">
                    <option class="select-option" label="Year" value="">Year</option>

                    @{
                        int curYearDOB = DateTime.Now.Year;
                        for (int year = curYearDOB; year > (curYearDOB - 120); year--)
                        {
                            <option class="select-option" label="@(year)" value="@(year)">@year</option>

                        }
                    }
                    
                </select>
            </section>

            <section class="section-data">

                <h1>Address</h1>
                <input type="text" name="country" placeholder="Country" value="@(Model.Country)" />
                <input type="text" name="address" placeholder="Address"  value="@(Model.Address)"/>
                <input type="text" name="address 2" placeholder="Address 2" value="@(Model.Address2)" />
                <input type="text" name="town/city" placeholder="Town/City" value="@(Model.Town)"/>
                <input type="text" name="county" placeholder="County" value="@(Model.County)" />
                <input type="text" name="telephone" placeholder="Telephone" value="@(Model.Telephone)"/>
            </section>

            <section class="section-data">
                <h1>Payment Details</h1>
                <h2>Credit Card</h2>
                <input type="text" name="fullname" placeholder="Full Name" value="@(Model.GetFullNameCard())" />
                <input type="text" name="card_number" placeholder="Card Number" value="@(Model.CardNumber)"/>
                <input type="text" name="card_cvc" placeholder="Card CVC" value="@(Model.CardCVC)"/>
                <select class="cardmonth" id="cardmonth" name="cardmonth" data-formid="cardmonth" data-field-label="Day">
                    <option class="select-option" label="Month" value="">Month</option>
                    <option class="select-option" label="01" value="1">01</option>
                    <option class="select-option" label="02" value="2">02</option>
                    <option class="select-option" label="03" value="3">03</option>
                    <option class="select-option" label="04" value="4">04</option>
                    <option class="select-option" label="05" value="5">05</option>
                    <option class="select-option" label="06" value="6">06</option>
                    <option class="select-option" label="07" value="7">07</option>
                    <option class="select-option" label="08" value="8">08</option>
                    <option class="select-option" label="09" value="9">09</option>
                    <option class="select-option" label="10" value="10">10</option>
                    <option class="select-option" label="11" value="11">11</option>
                    <option class="select-option" label="12" value="12">12</option>
                </select>
                <select class="cardyear" id="cardyear" name="cardyear" data-formid="Year" data-field-label="Year">
                    <option class="select-option" label="Year" value="">Year</option>

                    @{
                        int curYear = DateTime.Now.Year;
                        for (int year = (curYear + 5); year >= curYear; year--)
                        {
                            <option class="select-option" label="@(year)" value="@(year)">@year</option>

                        }
                    }
                  
                </select>
            </section>

            <section class="section-data">
                <h1>Billing Address</h1>
                <input type="text" name="country" placeholder="Country" value="@(Model.CountryBilling)"/>
                <input type="text" name="address" placeholder="Address" value="@(Model.AddressBilling)" />
                <input type="text" name="address 2" placeholder="Address 2" value="@(Model.Address2Billing)"/>
                <input type="text" name="town/city" placeholder="Town/City" value="@(Model.TownBilling)" />
                <input type="text" name="county" placeholder="County" value="@(Model.County2Billing)"/>


                <input type="submit" name="edit-button" placeholder="Edit Details" />
            </section>

        </div>
    </div>
</section>
