
@{
    ViewData["Title"] = "User account";
}

@model UserAccountModel


<link rel="stylesheet" href="./css/useraccount.css" />


<section class="main-container">


    <form class="account-box"
          id="formUser"
          name="formUser"
          action="/user-account"
          method="post"
          enctype="application/x-www-form-urlencoded"
          >

        <div class="customer-box">
            <section class="section-data">
                <h1> Account</h1>
                <select id="title" name="title">
                    <option value="title">Please select a Title</option>
                    <option value="title">Ms</option>
                    <option value="title">Miss</option>
                    <option value="title">Mrs</option>
                    <option value="title">Mr</option>
                </select>
                <input type="text" name="FirstName" placeholder="First Name" value="@(Model.FirstName)" />
                <input type="text" name="LastName" placeholder="Last Name" value="@(Model.LastName)" />
                <input type="text" name="Email" placeholder="Email Address" value="@(Model.Email)" />
                <input type="text" name="Pasword" placeholder="Pasword" value="@(Model.Pasword)" />
                <input type="text" name="RetypePasword" placeholder="Retype pasword" value="@(Model.RetypePasword)" />

                <p> Date of Birth</p>
                <select class="dayofbirth" id="dayofbirth" name="BirthDay" data-formid="dayofbirth" data-field-label="Day">
                    <option class="select-option" label="Day" value="">Day</option>
                    @{
                        for (int day = 1; day < 32; day++)
                        {
                            if (Model.BirthDay.Day == day)
                            {
                                <option selected
                                        class="select-option"
                                        label="@day"
                                        value="@day">
                                    @day
                                </option>
                            }
                            else
                            {
                                <option class="select-option" label="@day" value="@day">
                                    @day
                                </option>

                            }
                        }
                    }
                </select>
                <select class="monthofbirth" id="monthofbirth" name="BirthMonth" data-formid="monthofbirth" data-field-label="Month">
                    <option class="select-option" label="Month" value="">Month</option>

                    @{
                        string[] monthValue = { "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December" };
                        for (int month = 0; month < monthValue.Length; month++)
                        {
                            if (Model.BirthMonth.Month == month)
                            {
                                <option selected
                                        class="select-option"
                                        label="@monthValue[month]"
                                        value="@month">
                                    @monthValue[month]
                                </option>
                            }
                            else
                            {
                                <option class="select-option" label="@monthValue[month]" value="@month">
                                    @monthValue[month]
                                </option>

                            }
                        }
                    }
                </select>
                <select class="yearofbirth" id="yearofbirth" name="BirthYear" data-formid="yearofbirth" data-field-label="Year">
                    <option class="select-option" label="Year" value="">Year</option>

                    @{
                        int curYearDOB = DateTime.Now.Year;
                        for (int year = curYearDOB; year > (curYearDOB - 120); year--)

                        {
                            if (Model.BirthYear.Year == year)
                            {
                                <option selected
                                        class="select-option"
                                        label="@(year)"
                                        value="@(year)">
                                    @year
                                </option>

                            }
                            else
                            {
                                <option class="select-option" label="@(year)" value="@(year)">@year</option>

                            }
                        }
                     }

                </select>
            </section>

            <section class="section-data">
                <h1>Address</h1>
                <input type="text" name="Country" placeholder="Country" value="@(Model.Country)" />
                <input type="text" name="Address" placeholder="Address" value="@(Model.Address)" />
                <input type="text" name="Address2" placeholder="Address 2" value="@(Model.Address2)" />
                <input type="text" name="Town" placeholder="Town/City" value="@(Model.Town)" />
                <input type="text" name="County" placeholder="County" value="@(Model.County)" />
                <input type="text" name="Telephone" placeholder="Telephone" value="@(Model.Telephone)" />
            </section>
            <section class="section-data">
                <h1>Payment Details</h1>
                <p>Credit Card</p>
                <input type="text" name="CardHolderFullName" placeholder="Card Holder Full Name" value="@(Model.CardHolderFullName)" />
                <input type="text" name="CardNumber" placeholder="Card Number" value="@(Model.CardNumber)" />
                <input type="text" name="CardCVC" placeholder="Card CVC" value="@(Model.CardCVC)" />
                <select class="cardmonth" id="cardmonth" name="CardMonth" data-formid="cardmonth" data-field-label="Day">
                    <option class="select-option" label="Month" value="">Month</option>


                    @{
                        for (int cardMonth = 1; cardMonth < 13; cardMonth++)
                        {
                            if (Model.CardMonth.Day == cardMonth)
                            {
                                <option selected
                                        class="select-option"
                                        label="@cardMonth"
                                        value="@cardMonth">
                                    @cardMonth
                                </option>
                            }
                            else
                            {
                                <option class="select-option" label="@cardMonth" value="@cardMonth">
                                    @cardMonth
                                </option>

                            }
                        }
                    }

                </select>
                <select class="cardyear" id="cardyear" name="CardYear" data-formid="Year" data-field-label="Year">
                    <option class="select-option" label="Year" value="">Year</option>

                    @{
                        int curYear = DateTime.Now.Year;
                        for (int year = (curYear + 5); year >= curYear; year--)
                        {
                            if (Model.CardYear.Year == year)
                            {
                                <option selected
                                        class="select-option" 
                                        label="@(year)" 
                                        value="@(year)">
                                    @year
                                </option>
                            }
                            else
                            {
                                <option class="select-option" label="@(year)" value="@(year)">@year</option>
                            }
                        }
                    }

                </select>
            </section>

            <section class="section-data">
                <h1>Billing Address</h1>
                <input type="text" name="CountryBilling" placeholder="Country" value="@(Model.CountryBilling)" />
                <input type="text" name="AddressBilling" placeholder="Address" value="@(Model.AddressBilling)" />
                <input type="text" name="Address2Billing" placeholder="Address 2" value="@(Model.Address2Billing)" />
                <input type="text" name="TownBilling" placeholder="Town/City" value="@(Model.TownBilling)" />
                <input type="text" name="County2Billing" placeholder="County" value="@(Model.County2Billing)" />
            </section>

            <input type="submit" name="edit-button" placeholder="Edit Details" />

        </div>
    </form>
</section>
