
@{
    ViewData["Title"] = "User account";
}

@model UserAccountModel

@{
    var user = Model.User;
    var userAccount = Model.UserAccount ?? new UserAccount();
}


<link rel="stylesheet" href="/css/useraccount.css" />


<section class="main-container">


    <form class="account-box"
          id="formUser"
          name="formUser"
          asp-action="Edit"
          method="post"
          enctype="application/x-www-form-urlencoded"
          >
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="User.Id" name="User.Id" />

        <div class="customer-box">
            <section class="section-data">
                <h1> Account</h1>
                <select id="title" name="title">
                    <option value="-">Please select a Title</option>

                    @{
                        String[] titles =
                        {
                            "Ms", "Miss", "Mrs", "Mr"
                        };
                    }
                    @foreach (var title in titles)
                    {
                        if (Model.UserAccount.Title == title)
                        {
                            <option value="@title" selected>@title</option>
                        }
                        else
                        {
                            <option value="@title">@title</option>
                        }
                    }
                </select>
                <input type="text" name="FirstName" placeholder="First Name" value="@(userAccount.FirstName)" />
                <input type="text" name="LastName" placeholder="Last Name" value="@(userAccount.LastName)" />
                <input type="text" name="User.UserName" placeholder="UserName" value="@(user.UserName)" />
                <input type="text" name="User.Email" placeholder="Email Address" value="@(user.Email)" />
                <input type="password" name="Password" placeholder="Password" value="@(user.PasswordHash)" />
                <input type="password" name="RetypePassword" placeholder="Retype Password" value="@(user.PasswordHash)" />

                <p> Date of Birth</p>
                <select class="dayofbirth" id="dayofbirth" name="BirthDay" data-formid="dayofbirth" data-field-label="Day">
                    <option class="select-option" label="Day" value="0" selected>Day</option>
                    @{

                        for (int day = 1; day < 32; day++)
                        {
                            // Year == 1 means default value
                            if (userAccount.BirthDate.Year > 1 && userAccount.BirthDate.Day == day)
                            {
                                <option selected
                                        class="select-option"
                                        label="@day"
                                        value="@day">
                                    @day
                                </option>
                            }
                            else
                            {
                                <option class="select-option" label="@day" value="@day">
                                    @day
                                </option>

                            }
                        }
                    }
                </select>
                <select class="monthofbirth" id="monthofbirth" name="BirthMonth" data-formid="monthofbirth" data-field-label="Month">
                    <option class="select-option" label="Month" value="0">Month</option>

                    @{
                        string[] monthValue = { "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December" };
                        for (int month = 0; month < monthValue.Length; month++)
                        {
                            // Year == 1 means default value
                            if (userAccount.BirthDate.Year > 1 && userAccount.BirthDate.Month == month + 1)
                            {
                                <option selected
                                        class="select-option"
                                        label="@monthValue[month]"
                                        value="@(month + 1)">
                                    @monthValue[month]
                                </option>
                            }
                            else
                            {
                                <option class="select-option"
                                        label="@monthValue[month]"
                                        value="@(month + 1)">
                                    @monthValue[month]
                                </option>

                            }
                        }
                    }
                </select>
                <select class="yearofbirth" id="yearofbirth" name="BirthYear" data-formid="yearofbirth" data-field-label="Year">
                    <option class="select-option" label="Year" value="0">Year</option>

                    @{
                        int curYearDOB = DateTime.Now.Year;
                        for (int year = curYearDOB; year > (curYearDOB - 120); year--)

                        {
                            if (userAccount.BirthDate.Year == year)
                            {
                                <option selected
                                        class="select-option"
                                        label="@(year)"
                                        value="@(year)">
                                    @year
                                </option>

                            }
                            else
                            {
                                <option class="select-option" label="@(year)" value="@(year)">@year</option>

                            }
                        }
                    }

                </select>
            </section>

            <section class="section-data">
                <h1>Address</h1>
                <input type="text" name="Country" placeholder="Country" value="@(userAccount.Country)" />
                <input type="text" name="Address" placeholder="Address" value="@(userAccount.Address)" />
                <input type="text" name="Address2" placeholder="Address 2" value="@(userAccount.Address2)" />
                <input type="text" name="EirCode" placeholder="EirCode" value="@(userAccount.EirCode)" />
                <input type="text" name="City" placeholder="City" value="@(userAccount.City)" />
                <input type="text" name="County" placeholder="County" value="@(userAccount.County)" />
                <input type="text" name="Telephone" placeholder="Telephone" value="@(userAccount.Telephone)" />
            </section>

            <section class="section-data">
                <h1>Payment Details</h1>
                <p>Credit Card</p>
                <input type="text" name="CardHolderFullName" placeholder="Card Holder Full Name" value="@(userAccount.CardHolderFullName)" />
                <input type="text" name="CardNumber" placeholder="Card Number" value="@(userAccount.CardNumber)" />
                <input type="text" name="CardCVC" placeholder="Card CVC" value="@(userAccount.CardCVC)" />
                <select class="cardmonth" id="cardmonth" name="CardMonth" data-formid="cardmonth" data-field-label="Day">
                    <option class="select-option" label="Month" value="0">Month</option>
                    @{
                        for (int cardMonth = 1; cardMonth < 13; cardMonth++)
                        {
                            if (userAccount.CardMonth == cardMonth)
                            {
                                <option selected
                                        class="select-option"
                                        label="@cardMonth"
                                        value="@cardMonth">
                                    @cardMonth
                                </option>
                            }
                            else
                            {
                                <option class="select-option" label="@cardMonth" value="@cardMonth">
                                    @cardMonth
                                </option>

                            }
                        }
                    }

                </select>
                <select class="cardyear" id="cardyear" name="CardYear" data-formid="Year" data-field-label="Year">
                    <option class="select-option" label="Year" value="0">Year</option>

                    @{
                        int curYear = DateTime.Now.Year;
                        for (int year = (curYear + 5); year >= curYear; year--)
                        {
                            if (userAccount.CardYear == year)
                            {
                                <option selected
                                        class="select-option"
                                        label="@(year)"
                                        value="@(year)">
                                    @year
                                </option>
                            }
                            else
                            {
                                <option class="select-option" label="@(year)" value="@(year)">@year</option>
                            }
                        }
                    }

                </select>
            </section>

            <section class="section-data">
                <h1>Billing Address</h1>
                <input type="text" name="CountryBilling" placeholder="Country" value="@(userAccount.CountryBilling)" />
                <input type="text" name="AddressBilling" placeholder="Address" value="@(userAccount.AddressBilling)" />
                <input type="text" name="Address2Billing" placeholder="Address 2" value="@(userAccount.Address2Billing)" />
                <input type="text" name="EirCodeBilling" placeholder="EirCode" value="@(userAccount.EirCodeBilling)" />
                <input type="text" name="CityBilling" placeholder="City" value="@(userAccount.CityBilling)" />
                <input type="text" name="County2Billing" placeholder="County" value="@(userAccount.County2Billing)" />
            </section>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </form>
</section> 

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}