@model IEnumerable<dream_holiday.Models.ViewModels.TravelPackageViewModel>

@{
    ViewData["Title"] = "Travel Package";

}

<link rel="stylesheet" href="/css/travel-package.css" />

<section class="main-container">
    <table class="table">
        <caption>
            Travel Package List - Total: @Model.Count()
        </caption>
        <thead>
            <tr>
                <th class="col-category">
                    Category
                </th>
                <th class="col-country">
                    Country
                </th>
                <th class="col-name">
                    Location
                </th>
                <th class="col-desc">
                    Description
                </th>
                @*<th class="col-qty">
                        Quantity
                    </th>*@
                <th class="col-price">
                    Price
                </th>
                <th class="col-image">
                    Image
                </th>
                <th class="col-in-stock">
                    In Stock
                </th> 
                <th class="col-action-buttons">
                    <a role="button" href="/TravelPackage/Create"
                       class="btn btn-primary">Create New</a>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var itemModel in Model)
            {
                var item = itemModel.TravelPackage;
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => itemModel.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Country)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                @*<td>  @Html.DisplayFor(modelItem => item.Qty) </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <img src="@item.Image" />
                </td>
                <td class="col-in-stock">
                    @Html.DisplayFor(modelItem => item.IsInstock)
                </td>
                <td>
                    <span class="cell-action-buttons">
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    </span>

                </td>
            </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td class="table-footer" colspan="100">
                    Travel Package List - Total: @Model.Count()
                </td>
            </tr>
        </tfoot>
    </table>
</section>

