@using dream_holiday.Models.ViewModels;

@model List<OrderDetailViewModel>

@{
    ViewData["Title"] = "Order Details";
}


<link rel="stylesheet" href="/css/order-detail.css" />


<section class="main-container">

    <div class="wbox">
        <h3>Order Details</h3>
        <br>

        <div class="img">
            <a href="/order">
                <img src="/img/images/check.svg"
                     alt="check"
                     width="80"
                     height="80" />
            </a>
        </div>

        <br>


        <p>Here are  all items displayed from your last order. For a better holiday experience, please add more items to the cart.</p>
        <div class="orderid">
            <h4>
                <span class="badge badge-pill badge-danger">
                    Order ID:  @ViewBag.orderId
                </span>
                <span class="badge badge-pill badge-danger">
                    Date: @ViewBag.orderDate.ToString("yyyy-MM-dd")
                </span>
            </h4>
        </div>

        <br>

        <div class="main">

            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col" class="col-id">Nr</th>
                        <th scope="col" class="col-package-name">Package Name</th>
                        <th scope="col" class="col-package-qty">Quantity</th>
                        <th scope="col" class="col-price">Price</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        decimal totPrice = 0;
                        foreach (var detail in Model)
                        {
                            totPrice += detail.OrderDetail.Price;

                            <tr>
                                <th scope="row" class="cell-id"> @detail.OrderDetail.Id </th>
                                <td class="cell-package-name">
                                    <div class="bold"> @detail.TravelPackage?.Name </div>
                                    <p> @detail.TravelPackage?.Description </p>
                                </td>

                                <td class="cell-qty"> @detail.OrderDetail.Qty</td>
                                <td class="cell-price"> &euro; @(Math.Round (detail.OrderDetail.Price)) </td>
                            </tr>
                        }

                        <tr>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col">Total</th>
                            <th scope="col"> &euro; @Math.Round(totPrice)</th>
                        </tr>
                    }

                </tbody>
            </table>

        </div>

        <br>

        <a class="btn btn-danger" href="/order">Back to Orders</a>


    </div>

</section>