
@using dream_holiday.Models.ViewModels;;

@model List<OrderViewModel>

@{
    ViewData["Title"] = "Orders History";
}

<link rel="stylesheet" href="/css/order.css" />

<section class="main-container">


    <div class="wbox">

        <div class="orderid">
            <h3> Orders History</h3>

            <div class="img">
                <img src="img/images/cart.svg"
                     alt="cart"
                     width="120"
                     height="120" />
            </div>
            <br>
            <p>Here are your previous orders displayed. You can find a specific order by the ID number. To view a specifit order, click on the ID number.  </p>
            <br>

            <form action="/order" method="get">
                <h4>
                    Search by ID
                </h4>
                <input name="id" type="search">
                <button type="submit"
                        class="btn btn-danger">
                    Search
                </button>
            </form>


            <form action="/order" method="get">
                <h4>
                    Search by Status
                </h4>
                <input name="Status" type="search">
                <button type="submit"
                        class="btn btn-danger">
                    Search
                </button>


            </form>

            <br>

            <table class="table">
                <thead class="thead-light">
                    <tr>
                        @if (OrderViewModel.isAdmin)
                        {
                            <th scope="col">User</th>
                        }

                        <th scope="col">Order ID</th>
                        <th scope="col">Date</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Order Status </th>
                        <th scope="col">&nbsp;</th>
                    </tr>
                </thead>

                <tbody>

                    @foreach (var item in Model)
                    {
                        var order = item.Order;
                        var user = item.User; 
                        <tr>

                            @if (OrderViewModel.isAdmin)
                            {
                                <td>
                                    <strong>
                                        @user.UserName
                                    </strong>
                                </td>
                            }

                            <th scope="row">
                                <h5><a href="/order/detail?orderId=@order.Id" class="badge badge-danger">   @order.Id  </a></h5>
                            </th>

                            <td>@order.Date.ToString("yyyy-MM-dd")</td>
                            <td> &euro; @(Math.Round(order.Price)) </td>
                            <td>@order.Qty </td>
                            <td>@(order.Status) </td>
                            <td>
                                <a href="/order/delete?orderId=@order.Id">Delete</a>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>

        </div>
    </div>


</section>
