
@{
    ViewData["Title"] = "Cart";
}

@model List<CartViewModel>

<link rel="stylesheet" href="./css/cart.css" />

<section class="main-container">
    <section class="frame cart-container container mb-4">
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col" class="col-image"></th>
                                <th scope="col" class="col-product">
                                    Holiday package name
                                </th>
                                <th scope="col" class="col-available">Available</th>
                                <th scope="col" class="text-center col-quantity">
                                    Quantity
                                </th>
                                <th scope="col" class="text-right col-price">Price</th>
                                <th class="col-remove"></th>
                            </tr>
                        </thead>
                        <tbody class="cart-body">
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        <img class="item-image"
                                             src="@item.TravelPackage?.Image"
                                             style="max-height: 50px" />
                                    </td>
                                    <td>
                                        <a class="item-title" href="/holiday/detail?id=@item.TravelPackage.Id">
                                            @item.TravelPackage?.Name 
                                        </a>
                                    </td>
                                    <td class="item-in-stock">
                                        @( item.TravelPackage?.IsInstock  == true ? "In Stock" : "Out of Stock"  ) 
                                    </td>
                                    <td>
                                        <input class="form-control" type="text" value="@item.Cart.Qty" />
                                    </td>
                                    <td class="item-price text-right">€ @(Math.Round(item.Cart.Price) )</td>
                                    <td class="text-right">
                                        <a href ="/cart/delete/?cartId=@item.Cart.Id" class="btn btn-sm btn-danger">
                                            <i class="fa fa-trash">x</i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>

                        <tfoot>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>Packages</td>
                                <td class="text-right">@ViewBag.Quantity</td>
                                <td></td>
                            </tr>
                            <!--
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td class="text-right"></td>
                                </tr>
                            -->
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><strong>Total</strong></td>
                                <td class="text-right"><strong>€ @(Math.Round(ViewBag.TotalPrice) )</strong></td>
                                <td></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <div class="col mb-2">
                <div class="row justify-content-end">
                    <div class="col-sm-12 col-lg-2">
                        <a href="/holiday" class="btn btn-block btn-light">
                            Continue Shopping
                        </a>
                    </div>
                    <div class="col-sm-12 col-lg-2 text-right">

                        @if (ViewBag.TotalPrice == 0)
                        {
                             <a href="javascript:void(0)"
                                class="btn-checkout btn btn-lg btn-block btn-success text-uppercase"
                                disabled style="background:lightgray; visibility:hidden;">
                                 Checkout
                             </a>
                        }
                        else
                        {
                            <a href="/checkout-cart"
                               class="btn-checkout btn btn-lg btn-block btn-success text-uppercase">
                                Checkout
                            </a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>