@model OrderDetailsModel

@{
    ViewData["Title"] = "Order Details";
}

<style>
    .wbox {
        background-color: white;
        padding: 20px;
    }

    h3 {
        text-align: center;
        font-weight: bold;
    }

    .bold {
        font-weight: bold;
    }

    .img {
        text-align: center;
        opacity: 0.6;
    }

        .img:hover {
            opacity: 0.8;
        }
</style>

<section class="main-container">

    <div class="wbox">
        <h3>Order Details</h3>
        <br>

        <div class="img">
            <a href="orders.html">
                <img src="img/images/check.svg"
                     alt="check"
                     width="80"
                     height="80" />
            </a>
        </div>

        <br>


        <p>Here are  all items displayed from your last order. For a better holiday experience, please add more items to the cart.</p>
        <div class="orderid">
            <h4>
                <span class="badge badge-pill badge-danger">
                    Order ID:  @Model.OrderId 
                </span>
                <span class="badge badge-pill badge-danger">
                    Date:  @Model.OrderDate
                </span>
            </h4>
        </div>

        <br>

        <div class="main">

            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Nr</th>
                        <th scope="col">Package Name</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Price</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var banana in Model.Items)

                    {

                        <tr>
                            <th scope="row"> @banana.nr </th>

                            <td>
                                <div class="bold"> @banana.title </div>
                                <p> @banana.description </p>

                            </td>

                            <td> @banana.Qty</td>
                            <td> &euro; @banana.Price </td>
                        </tr>
                    }





                    <tr>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col">Total</th>
                        <th scope="col"> &euro; 1548.99</th>
                    </tr>


                </tbody>
            </table>

        </div>

        <br>

        <a class="btn btn-danger" href="/orders">Back to Orders</a>


    </div>

</section>